<style>
 *{
  margin: 0;
        padding: 0;
    }
 a{
  text-decoration: none;
        color: #333;
    }
    body {
        text-align:center;
        background-color:#61b3de;
        font-family:Arial, Helvetica, sans-serif;
  font-size:80%;
  color:#666;
 }
 .wrap {
  background: #f3f8fb;
        width:730px;
  margin:30px auto;
  border: 4px dashed #61b3de;
  border-radius:4px;
  padding: 20px 5px;
 }
 h1 {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:170%;
 color:#645348;
 font-style:italic;
 text-decoration:none;
 font-weight:100;
 padding: 10px;
 }
</style>
